/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Architects Daughter", cursive;
}

/* -------------- general ---------------- */

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 0;
  padding: 2em;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("visuals/wallpaper.png");
  background-size: 100%;
  background-repeat: initial;
}

h1 {
  margin: auto;
  padding: 0.5em;

  font-family: "Architects Daughter", cursive;
  font-size: 3em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;

  color: rgb(34, 34, 34, 0.8);
}

.members,
.messages {
  border: none;
  padding: 15px;
  margin-bottom: 15;

  background-color: rgba(255, 255, 255, 0.5);

  font-family: "Architects Daughter", cursive;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: rgb(34, 34, 34, 0.8);
  overflow: auto;
}

.messages {
  display: block;
  clear: both;
  float: left;
  position: relative;

  flex-shrink: 1;
  height: 75vh;
  overflow: auto;

  background: url(/visuals/messages-bckg.png);
  background-size: cover;
  background-position: top;
}

.currentMember {
  float: right !important;
}

.message {
  display: block;
  float: left;
  clear: both;
  position: relative;

  padding: 5px 0;
  margin: 5px 5px 0 0;
  max-width: 50vw;

  font-size: 0.85em;
}
.message .member {
  display: inline-block;
}
.members {
  line-height: 1.3em;
}
.name {
  text-transform: uppercase;
}

span {
  text-transform: uppercase;
}

.member {
  position: relative;
  text-transform: uppercase;
  font-size: 0.7em;
  padding-right: 2em;
}

.messageForm {
  display: flex;
  word-wrap: break-word;
}

.messageFormInput {
  flex-grow: 1;
  border: none;
  padding: 10px 15px;

  font-size: 16px;
  letter-spacing: 0.1em;
  color: rgb(34, 34, 34, 0.8);

  background-color: rgba(255, 255, 255, 0.445);
}

.messageFormInput:focus {
  background-color: rgba(255, 255, 255, 0.445);

  /* removes the border */
  outline: none;
}

.messageText {
  margin-top: 10px;
  font-size: 1.8em;
  overflow-wrap: break-word;
}

.messageFormButton {
  margin: auto;
  border: none;

  background-color: rgba(255, 255, 255, 0.445);
}

.name {
  margin-top: 1.5em;
}

#brushStroke {
  position: relative;

  width: 3em;
  margin: 0.5em 0.5em;
}

/* -------------- modals ---------------- */

/* error modal */
/* character exceeded modal */

.modal-error {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: 0.25s ease-out;

  pointer-events: none;
}

/* .modal-error.open {
  opacity: 1;
  pointer-events: all;

  position: fixed;
  top: 15em;
  left: 15em;
  width: 50%;
  height: 50%;
  font-family: "Architects Daughter", cursive;
  text-transform: uppercase;
  color: rgba(186, 0, 0, 0.8);
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
  letter-spacing: 0.05em;
  font-weight: bold;
} */

.modal-error.open {
  opacity: 1;

  display: inline-block;
  margin: 0 auto;
  padding: 1.5em 1em;

  top: 20em;
  right: 4em;
  left: 4em;
  height: fit-content;
  width: 70%;

  background-color: #ff000023;

  color: #ba0000cc;
  border-radius: 5px;
  font-family: "Architects Daughter", cursive;
  font-size: 1.1em;
  font-weight: 100;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

/* -------------- date/time ---------------- */

.time-date {
  margin-top: 1em;

  font-size: 0.8em;
  text-align: end;
}

/* -------------- tablet ---------------- */

@media screen and (min-width: 600px) and (max-width: 1023px) {
  body {
    padding: 20px;
  }

  h1 {
    font-size: 2.5em;
    margin: 0.5em 0 0.5em 0;
  }

  .messages {
    height: 60vh;
  }
  .message_text {
    font-size: 1.4em;
  }

  #brushstroke {
    width: 2.5em;
  }
}

/* -------------- phone ---------------- */

@media screen and (max-width: 599px) {
  body {
    padding: 5px;
  }

  h1 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
  }

  .messages {
    height: 70vh;
  }
  .message_text {
    font-size: 1.4em;
  }

  #brushstroke {
    width: 2.5em;
  }
}
